.meter {
  box-sizing: content-box;
  height: 20px; /* Can be anything */
  position: relative;
  margin: 10px 0 10px 0;
  background: #f1f0f0;
  border-radius: 10px;
  padding: 10px;
}
.meter > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.meter > span:after,

.orange > span {
  background-color: #BD5D38;
}

.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}
