<div ngbDropdown class="d-inline-block">
  <button ngbDropdownToggle class="btn btn-secondary" type="button">
    <fa-icon [icon]="faLanguage"></fa-icon>
    {{'i18n.' + currentLang|translate}}
  </button>
  <div class="dropdown-menu-dark" ngbDropdownMenu aria-labelledby="translate">
    <button ngbDropdownItem *ngFor="let language of languages"
     (click)="changeLanguage(language)">
      <a class="dropdown-item"
         data-lang="{{'i18n.'+language|translate}}">{{'i18n.' + language|translate}}</a>
    </button>
  </div>
</div>
