<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5">{{'experience.title'|translate}}</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5"
         *ngFor="let experience of experiences">
      <div class="flex-grow-1">
        <h3 class="mb-0">{{experience.title|translate}}</h3>
        <div class="subheading mb-3">{{experience.location|translate}}</div>
        <p>
          <a href="{{experience.companyLink|translate}}" target="_blank">
            <img [ngSrc]="experience.companyLogo|translate" width="80" height="80" />
          </a>
          <br />
        <span>{{experience.company|translate}}</span>
        </p>
      </div>
      <div class="flex-shrink-0">
        <div class="text-primary">
          <div *ngIf="!!(experience.endDate|translate)?.length">{{experience.startDate|translate}}
            - {{experience.endDate|translate}}</div>
          <div
            *ngIf="!(experience.endDate|translate)?.length">{{'global.from'|translate}} {{experience.startDate|translate}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
