<section class="resume-section">
  <div class="resume-section-content">
    <h2 class="mb-5">{{'blog.title'|translate}}</h2>
    <div class="col-12">
      <div class="col-8">
      </div>
      <div class="col-4">
        <div class="navbar-nav nav-right">
          <div class="nav-item">
            <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a>
            <a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
